body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: white;
    overflow: hidden;
}



#mainContent {
    height: 100%;
    width: 100%;
    display: inline-flex;
    position: absolute;
    margin: auto;
}

#leftColumn {
    width: 33%;
    height: 100%;
    text-align: left;
    position: absolute;
    top: 1%; left: 2%;

}

#midColumn {
    width: 33%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 1%;
    margin-right: 33%; margin-left: 33%;

}

#rightColumn {
    width: 33%;
    height: 100%;
    text-align: right;
    position: absolute;
    top: 1%; right: 2%;


}

#auth-Message {
    z-index: 10;
    height: 15%;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
}

#auth-Message-Text {
    width: 100%;
    height: 50%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: center;

    font-size: 60px;
}

#authImage {
    height: 448px;
    width: 368px;
    border-radius: 5%;
    background-image: url("/FaceRecognition/%28TEMP%29%3A%3Amean.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 20;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;

}


#calendar {
    width: 100%;
    height: 90%;
    /*background-color: blue;*/
}

#output {
    
}

#calendarTable {
    
}

table {
    font-size: 30px;
    width: 100%;
    text-align: center;
}


#message {
    position: absolute;
    font-size: 60px;
    width: 100%;
    height: 10%;
    /*background-color: red;*/
    bottom: 0; left: 0; right: 0;
}

#day {
    font-size: 40px;
    width: 100%;
    float: left;
    text-align: left;
    margin: 0;
}

#date {
    font-size: 40px;
    width: 100%;
    float: left;
    margin: 0;
}

#clock {
    font-size: 60px;
    width: 100%;
    float: left;
    margin: 0;
}

#cityName {
    font-size: 50px;
    width: 100%;
    margin: 0;
}

#currentTemp {
    font-size: 30px;
    width: 100%;
    margin: 0;
}

#feelsLikeTemp {
    font-size: 30px;
    width: 100%;
    margin: 0;

}

#chanceOfPrecip {
    font-size: 30px;
    width: 100%;
    margin: 0;

}

#weatherDescription {
    font-size: 30px;
    width: 100%;
    margin: 0;
}

.weatherIcon {
    height: 25px;
    width: 25px;
}

























