/*CURRENT, MIGHT GO BACK*/
/*
body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 80px;
    color: white;
}

#day {
    width: 33.3333333%;
    float: left;
    text-align: center;
    margin: 0;
}

#date {
    width: 33.3333333%;
    float: left;
    text-align: center;
    margin: 0;
}

#clock {
    width: 33.3333333%;
    float: left;
    text-align: center;
    margin: 0;
}
*/



body {
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    color: white;
}



#mainContent {
    height: 100%;
    width: 100%;
    display: inline-flex;
    position: absolute;
    margin: auto;
}

#leftColumn {
    width: 33%;
    height: 100%;
    text-align: left;

}

#midColumn {
    width: 33%;
    height: 100%;
    text-align: center;

}

#rightColumn {
    width: 33%;
    height: 100%;
    text-align: right;

}

#calendar {
    width: 100%;
    height: 90%;
    /*background-color: blue;*/
}

#message {
    position: absolute;
    font-size: 60px;
    width: 100%;
    height: 10%;
    /*background-color: red;*/
    bottom: 0; left: 0; right: 0;
}

#day {
    font-size: 40px;
    width: 100%;
    float: left;
    text-align: left;
    margin: 0;
}

#date {
    font-size: 40px;
    width: 100%;
    float: left;
    margin: 0;
}

#clock {
    font-size: 60px;
    width: 100%;
    float: left;
    margin: 0;
}

#cityName {
    font-size: 50px;
    width: 100%;
    margin: 0;
}

#currentTemp {
    font-size: 30px;
    width: 100%;
    margin: 0;
}

#feelsLikeTemp {
    font-size: 30px;
    width: 100%;
    margin: 0;

}

#chanceOfPrecip {
    font-size: 30px;
    width: 100%;
    margin: 0;

}

#weatherDescription {
    font-size: 30px;
    width: 100%;
    margin: 0;
}

.weatherIcon {
    height: 25px;
    width: 25px;
}

























